#form{
  padding: 20px;
  margin-left: 100px;
  width: 700px;
  text-align: center;

}
#appointment_form{
  padding: 20px;
  margin-left: 100px;
  width: 700px;
  text-align: center;

}
#my_link {
  text-decoration: underline;
  text-color: light blue;
}
#heading{
text-align: center;}
#btn1{
width:170px}
#divs{
margin-bottom:25px}