.cloud{
// height: 185px;
width: 320px;
border: solid 5px;
border-color: inherit;
margin-top: -6px;
margin-bottom: -6px;
padding:30px;

}
.content{
padding-bottom:10px;
font-size: 15px;
}
.temp{
font-weight:26px;
}
#wicon{
float:right;
}